<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
        crossorigin="anonymous"></script>

    <title>News Scraper!</title>

</head>

<body>
    <header>
        <ul class="nav">
            <h2>Daily News Scraper!</h2>
            <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/saved">Saved Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/scrape">Scrape New Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Clear Articles</a>
            </li>
        </ul>
    </header>
    <div class="container">
        {{{ body }}}
    </div>
</body>

</html>